@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,200;1,300&display=swap');

/*Estilos generales*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    font-family: 'Poppins', sans-serif;
    background: rgb(64,64,64);
    color: white;
    z-index: 1;
}

a {
    text-decoration: none;
    color: white;
}

/*Navegacion de aplicaciones*/
nav{
    width: 1250px;
    height: 40px;
    background-color: #1f1e1b;
    border: 1px solid #333333;
    margin: 0 auto;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 8px 8px grey;
    font-size: 15px;
    margin-bottom: 40px;
}

nav > ul{
    text-decoration: none;
    list-style: none;
}

nav > ul > li{
    line-height: 40px;
    float: left;
}

nav > ul > li > a{
    display: block;
    padding-right: 20px;
    padding-left: 20px;
    color: #d1d4d6;
}

nav > ul > li > a:hover {
    background:rgb(77, 77, 246);
    box-shadow: 0px 0px 5px #333333 inset;
    color: white;
    transition: all 300ms;
}

/*menu desplegable*/
nav > ul > li > ul{
    display: none;
    position: absolute;
    color: white;
    text-align: left;
    width: 200px;
    box-shadow: 0px 2px 2px grey;
}

nav > ul > li:hover > ul{
    display: block;
    color: white;
    margin: 0px;
    list-style: none;
}

nav > ul > li:hover > ul > li{
    background: grey;
    border-bottom: 1px solid black;
    padding: 8px;
    line-height: 25px;
    font-size: 13px;
    transition: all 300ms;
}

nav > ul > li:hover > ul > li > a{
    color: white;
    transition: all 300ms;
}

nav > ul > li:hover > ul > li:hover{
    background: rgb(77, 77, 246);
    
}


/*Para la cabecera*/
.head{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #000000;
    color: white;
}

.logo{
    display: flex;
}

.logo img{
    height: 60px;
    margin-right: 20px;
    margin-left: 30px;
}

.logo h1{
    margin-top: 10px;
}

.btn{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #333;
    color: white;
}

.btn ul{
    text-decoration: none;
    list-style: none;
}

.btn ul li{
    line-height: 40px;
    float: left;
}

.btn ul li a{
    display: block;
    padding-right: 30px;
    padding-left: 30px;
    color: #d1d4d6;
    transition: color 300ms;
}

.btn ul li a:hover {
    color: rgb(0, 0, 0);
}

/*Para el contenido*/
#content1{
    width: 100%;
    min-height: 850px;
    margin: 0 auto;
    margin-bottom: 30px;
}

.box{
    /*background: rgb(64,64,64);
    min-height: 930px;*/
    padding: 10px;
    margin: 0 auto;
    margin-top: 50px;
}

/*Para los modulos*/
div.id_galeria{
    display: flex;
    justify-content: center;
    align-items: center;
}

div.galeria{
    margin: 30px 40px;
    float: left;
    width: 150px;
    height: 150px;
    margin-top: 50px;
    margin-bottom: 70px;
    /*border: 3px solid #333;*/
}

div.galeria img{
    width: 100px;
    height: 100px;
}

div.galeria:hover{
    border: 4px solid rgb(0, 0, 0);
}

div.pie{
    font-size: 10px;
    text-align: center;
    padding: 5px;
}

/*Vista Clientes*/
.tabla_clientes{
    border: 2px solid #000000;
    padding: 10px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 30px;
    background: rgb(88, 88, 88);
}

.tabla_clientes th{
    width: 150px;
    border-bottom: 2px solid #000000;
}

.tabla_clientes td{
    padding-top: 6px;
    padding-bottom: 6px;
    width: 180px;
}

.tabla_clientes td button{
    width: 80px;
    height: 30px;
    border-radius: 5px;
}

.tabla_clientes td .uno:hover{
    cursor: pointer;
    background:rgb(77, 77, 246);
    color: white;
    transition: all 300ms;
}

.tabla_clientes .dos:hover{
    cursor: pointer;
    background:rgb(245, 56, 43);
    color: white;
    transition: all 300ms;
}

.agregar_cliente{
    width: 150px;
    height: 50px;
    margin-left: 220px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.agregar_cliente:hover{
    cursor: pointer;
    background:rgb(77, 77, 246);
    color: white;
    transition: all 300ms;
}

.botones_clientes{
    width: 1500px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 20px;
    padding-left: 68px;
    padding-right: 68px;
}

.control_btn_clientes{
    width: 80px;
    height: 30px;
    margin-right: 15px;
    border-radius: 10px;
}

.control_btn_clientes:hover{
    cursor: pointer;
    background:rgb(77, 77, 246);
    color: white;
    transition: all 300ms;
}

/*Vista Ventas*/
.tabla_ventas{
    border: 2px solid #000000;
    padding: 10px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 30px;
    background: rgb(88, 88, 88);
}

.tabla_ventas th{
    width: 200px;
    border-bottom: 2px solid #000000;
}

.tabla_ventas td{
    padding-top: 6px;
    padding-bottom: 6px;
    width: 180px;
}

.tabla_ventas td button{
    width: 80px;
    height: 30px;
    border-radius: 5px;
}

.tabla_ventas td .uno:hover{
    cursor: pointer;
    background:rgb(77, 77, 246);
    color: white;
    transition: all 300ms;
}

.tabla_ventas .dos:hover{
    cursor: pointer;
    background:rgb(245, 56, 43);
    color: white;
    transition: all 300ms;
}

.agregar_producto{
    width: 150px;
    height: 50px;
    margin-left: 220px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.agregar_producto:hover{
    cursor: pointer;
    background:rgb(77, 77, 246);
    color: white;
    transition: all 300ms;
}

.botones_venta{
    width: 1500px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 20px;
    padding-left: 68px;
    padding-right: 68px;
}

.control_btn_venta{
    width: 80px;
    height: 30px;
    margin-right: 15px;
    border-radius: 10px;
}

.control_btn_venta:hover{
    cursor: pointer;
    background:rgb(77, 77, 246);
    color: white;
    transition: all 300ms;
}

/*Formularios*/
.register_form{
    width: 40%;

}

.box input,
.box label{
    padding: 5px;
    padding-left: 0px;
}

.box form input[type="text"],
.box form input[type="email"],
.box form input[type="password"],
.box form textarea{
    width: 100%;
    margin-bottom: 15px;   
}

.box select{
    width: 100px;
    margin-bottom: 10px;
    padding: 5px;
}

.box form input[type="submit"],
.box form input[type="button"]{
    padding: 10px;
    margin-top: 10px;
    background: #2382e2;
    color: white;
    border: 1px solid black;
    border-radius: 5px;
}

.box form input[type="submit"]:hover,
.box form input[type="button"]:hover{
    cursor:pointer;
    background: #000000;
    transition: 300ms all;
}

.form_justify{
    display: flex;
    justify-content: center;
    font-size: 13px;
} 

/*Vista Inventario*/
.menu{
    height: 1050px;
}

/*Para lista de productos*/
div.seccion{
    margin: 20px 30px;
    float: left;
    width: 200px;
    height: 200px;
    margin-top: 50px;
    margin-bottom: 70px;
    border-radius: 20px;
}

div.seccion img{
    width: 100%;
    height: auto;
    border-radius: 20px;
}

div.seccion_pie{
    font-size: 13px;
    padding: 5px;
}


/*Para el pie de pagina*/
footer{
    width: 100%;
    background-color: #1b1e1f;
    border: 1px solid #333;
    color: #d1d4d6;
    margin: 0 auto;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

/*Punto de venta*/
.control_POS{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.boton_POS{
    width: 100px;
    height: 110px;
    border: 2px solid black;
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
}

.fa-solid{
    font-size: 40px;
    margin-top: 15px;
}

.fa-brands{
    font-size: 40px;
    margin-top: 15px;
}

.tabla_POS{
    width: 1300px;
    border: 2px solid #000000;
    padding: 10px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 30px;
    color: #000000;
    background: #d1d4d6;
}

.tabla_POS th{
    border-bottom: 2px solid #000000;
    padding-right: 15px;
    padding-left: 15px;
    background: red;
}

.tabla_POS td{
    border-bottom: 2px solid #000000;
}

.num_row{
    width: 10px;
}

.num2_row{
    width: 5px;
}

/*Pagina de productos (Inventarios)*/
.boton_rm{
    padding: 10px;
    margin-top: 10px;
    background: #2382e2;
    color: white;
    border: 1px solid black;
    border-radius: 5px;
}

.boton_rm:hover{
    cursor:pointer;
    background: #000000;
    transition: 300ms all;
}

/*Barra de busqueda*/
.custom-barra_busqueda{
    padding: 10px;
    display: flex;
}

.custom-barra_busqueda input{
    margin-right: 10px;
}

.custom-barra_busqueda button{
    background: #2382e2;
    color: #fff;
    width: 150px;
    height: 40px;
    border-radius: 10px;
}

.contenedor_pos{
    z-index: 2;
    display: flex;
    position: fixed;
    top: 150px;
    width: 100%;
    height: 20px;
}

.form_POS{
    display: none;
    width: 800px;
    height: 500px;
    background: #1f1e1b;
    color: #fff;
    border-radius: 10px;
    margin: 0 auto;
    top: 0;
}

.header_frame_pos{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 800px;
    height: 50px;
    background: black;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.body_frame_pos{
    display: block;
    width: 800px;
    height: 450px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

/*Formulario*/
.layout_form{
    width: 20%;
    
}

/*Cliente
.section_cliente{
    display: grid;
    place-items: center;
}

.sectionform_cliente{
    display: block;
    width: 70%;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 30px;
}
.general{
    display: flex;
    justify-content: space-between;
    height: 60px;
}

.credito{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: space-around;
    height: 60px;
}

.venta{
    display: flex;
    justify-content: space-between;
    height: 60px;
}

.elemento{
    margin-right: 20px;
    margin-left: 20px;
}*/ /*En pausa*/

#content_form_addproductos{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

#wrapper{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
    grid-auto-rows: minmax(30px, auto);
}


.head_addp{
    grid-column: 1/5;
    grid-row: 1;
}


.codigo_add{
    width: 100px;
}

.section_left-right{
    grid-column: 1/5;
    grid-row: 2;

    display: flex;
    justify-content: center;
}


/*Body_addp*/
.body_addp{
    margin-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.label_add1{
    grid-column: 1/2;
    margin-left: auto;
}

.input_add1{
    grid-column: 2/3;
}

/*footer_addp*/ 
.footer_addp{
    margin-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.input_add2{
    grid-column: 2/3;
    width: 200px;
    height: 30px;
}

/*Precios*/
.precios_addp{
    grid-row: 3;
    grid-column: 1/5;

}

/*cONTROL*/
.control_addp1{
    grid-column: 2/3;
    grid-row:4;
    margin-top: 40px;
    margin-left: auto;
}

.control_addp2{
    grid-column: 3/4;
    grid-row:4;
    margin-top: 25px;
}


.title_add{
    width: 120px;
    grid-column: 1/3;
    grid-row: 1;
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;
    color: #000000;
}

.product_td:hover{
    cursor:pointer;
    background: #7c7c7c;
    transition: 300ms all;
}

.delete_producto_button{
    padding: 10px;
    margin-top: 10px;
    background: red;
    color: white;
    border: 1px solid black;
    border-radius: 5px;
}

.delete_producto_button:hover{
    cursor:pointer;
    color: #fff;
    background: red;
    transition: 300ms all;
}

/*Edit preciosaddpp*/
.body_precios_addp{
    display: flex;
}

.labels_bodypadd{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin-bottom: 20px;
}

.labels_bodypadd .label_padd{
    grid-column: 1/2;
}

.labels_bodypadd .input_padd{
    grid-column: 2/3;
}

.precios{
    display: grid;
    grid-template-columns: repeat(1, 1fr)
}

.precios .input_paddp{
    grid-column: 2/3;
    margin-bottom: 15px;
    margin-left: 20px;
    text-align: right;
}

/*utilidad*/
.utilidad{
    display: grid;
    grid-template-columns: repeat(1, 1fr)
}

.utilidad .input_paddu{
    width: 100px;
    grid-column: 2/3;
    margin-bottom: 15px;
    margin-left: 20px;
    text-align: center;
}

/*Barras*/
.preciosmn{
    display: grid;
    grid-template-columns: repeat(1, 1fr)
}

.preciosmn .input_paddc{
    grid-column: 2/3;
    margin-bottom: 15px;
    margin-left: 20px;
    text-align: right;
}

.labels_titlepadd{
    width: 53%;
}

.labels_titlepadd .label_paddt{
    margin-left: 105px;
    margin-bottom: 10px;
}

#guardar_addp{
    padding: 10px;
    margin-top: 10px;
    background: rgb(34, 0, 255);
    color: white;
    border: 1px solid black;
    border-radius: 5px;
}