{% extends "layoutPOS.html" %}

{% block title %}{{title}}{% endblock title %}

{% block content %}

<style>
    #cto_unit, 
    #cto_fac, 
    #cto_int, 
    #gastos_varios, 
    #impuesto {
        text-align: right;
    }

    #cantidad_unidad{
        text-align: center;
        width: 150px;
    }

</style>

<div id="content_form_addproductos">
    <form method="POST" id="wrapper">

        {% csrf_token %}
        <div class="head_addp">
            <label for="description">Descripcion</label>
            <input type="text" id="description" name="description" value="{% if producto %}{{ producto.description }}{% endif %}"required>

            <label for="codigo">Codigo</label>
            <input type="text" name="codigo" value="{% if producto %}{{ producto.codigo }}{% endif %}" required>
        </div>

        <div class="section_left-right">
            <div class="body_addp">
            <h1 class="title_add">Compras</h1>
            
            <label class="label_add1" for="Unidad_Compras">Unidad Compra</label>
            <select class="input_add1" type="text" name="Unidad_Compras">

                <option value=0>---------</option>

                {% for u in unidad %}
                    <option value="{{u.id}}">{{u.description}} - {{u.id}}</option>
                {% endfor %}
                
            </select>

            <br>
            <label class="label_add1" for="Unidad_Ventas">Unidad Venta</label>
            <select class="input_add1" type="text" name="Unidad_Ventas" value="{% if producto %}{{ producto.Unidad_Ventas }}{% endif %}">
                <option value="pieza">Pieza</option>
                <option value="paquete">Paquete</option>
                <option value="galon">Galon</option>
                <option value="litro">Litro</option>
            </select>
            <br>
            <label class="label_add1" for="Unidad_Inventario">Unidad Inventario</label>
            <select class="input_add1" type="text" name="Unidad_Inventario" value="{% if producto %}{{ producto.Unidad_Inventario}}{% endif %}">
                <option value="pieza">Pieza</option>
                <option value="paquete">Paquete</option>
                <option value="galon">Galon</option>
                <option value="litro">Litro</option>
            </select>
            <br>
            <label class="label_add1" for="cantidad_Unidad_Compras">Unidades</label>
            <input type="text" class="cantidad_producto" id="cantidad_unidad" name="cantidad_Unidad_Compras" value="{% if producto %}{{ producto.cantidad_Unidad_Compras }}{% endif %}">
            </div>

            <div class="footer_addp">
            <h1 class="title_add">Costos</h1>
            <label class="label_add1" for="Cto_Unidad_Compras">Costo Unitario</label>
            <input class="input_add2" type="number" step="any" onkeypress="formatNumber(4, event)" id="cto_unit" name="Cto_Unidad_Compras" value="{% if producto %}{{ producto.Cto_Unidad_Compras }}{% endif %}">
            <br>
            
            <label class="label_add1" for="Cto_Factura">Costo Factura</label>
            <input class="input_add2" type="number" step="any" id="cto_fac" name="Cto_Factura" readonly value="{% if producto %}{{ producto.Cto_Factura }}{% endif %}">
            <br>
                
            <label class="label_add1" for="Porc_GastosVarios">Porc. Gastos Varios</label>
            <input class="input_add2" type="number" step="any" id="gastos_varios" name="Porc_GastosVarios" value="{% if producto %}{{ producto.Porc_GastosVarios }}{% endif %}">
            <br>
                
            <label class="label_add1" for="Porc_impuestos">Porc. Impuesto</label>
            <input class="input_add2" type="number" step="any" id="impuesto" name="Porc_impuestos" value="{% if producto %}{{ producto.Porc_impuestos }}{% endif %}">
            <br>
            
            <label class="label_add1" for="Cto_Integrado">Costo Integrado</label>
            <input class="input_add2" type="number" step="any" id="cto_int" name="Cto_Integrado" readonly value="{% if producto %}{{ producto.Cto_Integrado }}{% endif %}">
            <br>
            </div>
        </div>
        
        <div class="precios_addp">
            <div class="moneda" style="margin-bottom: 30px; margin-top: 35px;">
                <label for="moneda" class="label_padd">Moneda</label>
                <select class="input_padd" id="moneda" type="text" name="moneda" value="{% if producto %}{{ producto.moneda }}{% endif %}">
                    <option value="MXN">MXN</option>
                    <option value="USD">USD</option>
                </select>

                <label for="t_cambio" class="label_padd">T. Cambio</label>
                <input class="input_paddp" type="number" id="t_cambio" step="any" name="t_cambio" value="{% if producto %}{{ producto.t_cambio }}{% endif %}">
            </div>

            <div class="labels_titlepadd">
                <label for="" class="label_paddt">Utilidad</label>
                <label for="" class="label_paddt">Precio</label>
                <label for="" class="label_paddt">Precio MN</label>
            </div>

           <div class="body_precios_addp">
                <div class="labels_bodypadd">
                    <label for="" class="label_padd">Precio 1</label>
                    <label for="" class="label_padd">Precio 2</label>
                    <label for="" class="label_padd">Precio 3</label>
                    <label for="" class="label_padd">Precio 4</label>
                    <label for="" class="label_padd">Precio 5</label>
                </div>
            
                <div class="utilidad" id="utility" style="margin-bottom: 30px;">
                    <input class="input_paddu" type="number" id="porc_util_1" step="any" name="porc_util_1" value="{% if producto %}{{ producto.porc_util_1 }}{% endif %}">
                    <input class="input_paddu" type="number" id="porc_util_2" step="any" name="porc_util_2" value="{% if producto %}{{ producto.porc_util_2 }}{% endif %}">
                    <input class="input_paddu" type="number" id="porc_util_3" step="any" name="porc_util_3" value="{% if producto %}{{ producto.porc_util_3 }}{% endif %}">
                    <input class="input_paddu" type="number" id="porc_util_4" step="any" name="porc_util_4" value="{% if producto %}{{ producto.porc_util_4 }}{% endif %}">
                    <input class="input_paddu" type="number" id="porc_util_5" step="any" name="porc_util_5" value="{% if producto %}{{ producto.porc_util_5 }}{% endif %}">
                </div>

                <div class="precios" id="precios" style="margin-bottom: 30px;">
                    <input class="input_paddp" type="number" id="precio1" step="any" name="precio1" value="{% if producto %}{{ producto.precio1 }}{% endif %}"> 
                    <input class="input_paddp" type="number" id="precio2" step="any" name="precio2" value="{% if producto %}{{ producto.precio2 }}{% endif %}">
                    <input class="input_paddp" type="number" id="precio3" step="any" name="precio3" value="{% if producto %}{{ producto.precio3 }}{% endif %}">
                    <input class="input_paddp" type="number" id="precio4" step="any" name="precio4" value="{% if producto %}{{ producto.precio4 }}{% endif %}">
                    <input class="input_paddp" type="number" id="precio5" step="any" name="precio5" value="{% if producto %}{{ producto.precio5 }}{% endif %}">
                </div>   

                <div class="preciosmn" style="margin-bottom: 30px;">
                    <input class="input_paddc" type="number" id="precioMN1" step="any" name="precioMN1" value="{% if producto %}{{ producto.precioMN1 }}{% endif %}">
                    <input class="input_paddc" type="number" id="precioMN2" step="any" name="precioMN2" value="{% if producto %}{{ producto.precioMN2 }}{% endif %}">
                    <input class="input_paddc" type="number" id="precioMN3" step="any" name="precioMN3" value="{% if producto %}{{ producto.precioMN3 }}{% endif %}">
                    <input class="input_paddc" type="number" id="precioMN4" step="any" name="precioMN4" value="{% if producto %}{{ producto.precioMN4 }}{% endif %}">
                    <input class="input_paddc" type="number" id="precioMN5" step="any" name="precioMN5" value="{% if producto %}{{ producto.precioMN5 }}{% endif %}">
                </div>
           </div>
    
            <label for="codigo_prov" class="label_padd">Codigo de Provedor</label>
            <input class="input_padd" type="number" name="codigo_prov" value="{% if producto %}{{ producto.codigo_prov }}{% endif %}">
        </div>

        <div class="control_addp1">
            <a href="{% url 'Productos' %}">Regresar</a>
        </div>

        {% if producto %}
            <div>
                <a href="{% url 'DeleteProducto' producto.id %}"><button type="button" class="delete_producto_button">Eliminar</button></a>
            </div>
        {% endif %}
        
        
        <div class="control_addp2">
            <button id="guardar_addp" type="submit">{% block submit_button %}Guardar{% endblock %}</button>
        </div>
                 
    </form>

    
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<!--Costos-->
<script>
    var wrapper =document.getElementById("wrapper")

    var cto_unit = document.getElementById("cto_unit");
    var cantidad = document.getElementById("cantidad_unidad");
    var cto_fac = document.getElementById("cto_fac");

    var cto_int = document.getElementById("cto_int")
    var impuesto = document.getElementById("impuesto");
    var gastos_varios = document.getElementById("gastos_varios");

    wrapper.addEventListener("keypress", event =>{
        if (event.keyCode === 13){
            event.preventDefault();
        }
    })

    //Para presionar enter cuando el cursor este en el input "cto_unit"
    cto_unit.addEventListener("keypress", event=> {
        if (event.keyCode === 13) {
            event.preventDefault();

            if(cantidad.value === ""){
                cantidad.value = 1;
            }

            cto_fac.value = parseFloat(cto_unit.value/cantidad.value).toFixed(4);
            cto_int.value = parseFloat((1+(impuesto.value/100)) * (1+(gastos_varios.value/100)) * (cto_unit.value/cantidad.value)).toFixed(4);
        }
    });

    //para presionar enter cuando el cursor este en el input "cantidad"
    cantidad.addEventListener("keypress", event=> {
        if (event.keyCode === 13) {
            event.preventDefault();
            cto_fac.value = parseFloat(cto_unit.value/cantidad.value).toFixed(4);
            cto_int.value = parseFloat((1+(impuesto.value/100)) * (1+(gastos_varios.value/100)) * (cto_unit.value/cantidad.value)).toFixed(4);
        }
    });

    gastos_varios.addEventListener("keypress", event=> {
        if (event.keyCode === 13) {
            event.preventDefault();
            cto_int.value = parseFloat((1+(impuesto.value/100)) * (1+(gastos_varios.value/100)) * (cto_unit.value/cantidad.value)).toFixed(4);
        }
    });

    impuesto.addEventListener("keypress", event=> {
        if (event.keyCode === 13) {
            event.preventDefault();
            cto_int.value = parseFloat((1+(impuesto.value/100)) *(1+(gastos_varios.value/100))* (cto_unit.value/cantidad.value)).toFixed(4);
        }
    });


    //Para logica en apartado de Costos
    //var utility = parseFloat(document.getElementByClass("input_paddu").value); 
    
    var utility = document.getElementById("utility");
    var precios = document.getElementById("precios");
    var moneda = document.getElementById("moneda");
    var t_cambio = document.getElementById("t_cambio");

    var porc_util_1 = document.getElementById("porc_util_1");
    var porc_util_2 = document.getElementById("porc_util_2");
    var porc_util_3 = document.getElementById("porc_util_3");
    var porc_util_4 = document.getElementById("porc_util_4");
    var porc_util_5 = document.getElementById("porc_util_5");

    var precio1 = document.getElementById("precio1");
    var precio2 = document.getElementById("precio2");
    var precio3 = document.getElementById("precio3");
    var precio4 = document.getElementById("precio4");
    var precio5 = document.getElementById("precio5");

    var precioMN1 = document.getElementById("precioMN1");

    utility.addEventListener("keypress", event=>{
        if(event.keyCode === 13){
            event.preventDefault();
            precio1.value= parseFloat(cto_int.value/((100-porc_util_1.value)/100)).toFixed(4);

            if (moneda.value === "USD"){
                precioMN1.value = parseFloat(precio1.value * t_cambio.value).toFixed(4);
            } else {
                precioMN1.value = precio1.value;
            }
        }
    })
   
</script>

<!--Valor decimal-->
<script>
    
    function formatNumber(decimalPlaces, e) {
        if(e.key === 'Enter'){
            var inputValue = e.target.value;
    
            var floatValue = parseFloat(inputValue);
        
            e.target.value = floatValue.toFixed(decimalPlaces);
        }
    }

</script>
    
<!--Select fields-->
<script type="text/javascript">
</script>

{% endblock content %}


