
{% extends "layoutPOS.html" %}
{% load static %}

{% block title %}{{title}}{% endblock title %}

{% block content %}
<style>
    #description{
        width: 500px;
        display: block;
        text-align: center;
        font-size: 15px;
    }

    h1{
        margin-bottom: 20px;
    }

    input{
        margin-top: 10px;
    }

</style>
        
<div class="content_uniq">
    <form method="POST" class="uniq_form">
        {% csrf_token %}
        <div class="familia_content">
            <h1>Familia</h1>
            <label for="description" class="marca_title">Capture la descripcion de la familia.</label>
            <input type="text" id="description" name="description" value="{% if familia %}{{ familia.description }}{% endif %}"required>
        </div>

        <div class="familia_control">
            <button id="guardar_addp" type="submit">{% block submit_button %}Guardar{% endblock %}</button>

            {% if familia %}
                    <a href="{% url 'DeleteFamilia' familia.id %}"><button type="button" class="delete_producto_button">Eliminar</button></a>
            {% endif %}

            <a href="{% url 'Familia' %}"><button id="regresar_addp" type="button">Regresar</button></a>

        </div>
</div>

<!--Focus input-->
<script>
    document.addEventListener("DOMContentLoaded", function() {
        document.getElementById("description").focus();
    });
</script>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

{% endblock content %}