{% extends "layoutPOS.html" %}

{% block title %}{{title}}{% endblock title %}

{% block content %}
<style>
    #description{
        width: 250px;
    }
</style>


<h1>Moneda</h1>

<form method="POST" class="uniq_form">

    {% csrf_token %}
    <div class="moneda_content">
        <label for="description" class="moneda_title">Descripcion</label>
        <input type="text" id="description" name="description" value="{% if moneda %}{{ moneda.description }}{% endif %}"required>
    </div>

    <div class="moneda_control">
        <button id="guardar_addp" type="submit">{% block submit_button %}Guardar{% endblock %}</button>

        {% if marca %}
                <a href="{% url 'DeleteMoneda' marca.id %}"><button type="button" class="delete_producto_button">Eliminar</button></a>
        {% endif %}
    </div>

{% endblock content %}