{% extends "layoutPOS.html" %}

{% block title %}{{title}}{% endblock title %}

{% block content %}
<style>
    #description{
        width: 250px;
        display: block;
    }

    h1{
        margin-bottom: 20px;
    }

    input{
        margin-top: 10px;
    }
</style>

<div class="content_uniq">
    <form method="POST" class="uniq_form">

        {% csrf_token %}
        <div class="moneda_content">
            <h1>Moneda</h1>
            <label for="description" class="moneda_title">Capture la descripcion de la moneda.</label>
            <input type="text" id="description" name="description" value="{% if moneda %}{{ moneda.description }}{% endif %}"required>
        </div>

        <div class="moneda_control">
            <button id="guardar_addp" type="submit">{% block submit_button %}Guardar{% endblock %}</button>

            {% if marca %}
                    <a href="{% url 'DeleteMoneda' marca.id %}"><button type="button" class="delete_producto_button">Eliminar</button></a>
            {% endif %}

            <a href="{% url 'Moneda' %}">Regresar</a>
        </div>
</div>

{% endblock content %}