{% extends "layoutPOS.html" %}

{% block title %}{{title}}{% endblock title %}

{% block content %}

<style>
    .clientes_table{
        border: 2px solid #979797;
        border-radius: 10px;
        padding: 10px;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 30px;
        background: #ffffff;
        text-align: left;
    }

    .container{
        display: flex;
        justify-content: center;
        margin-left: 100px;
        margin-right: 100px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .id{
        width: 50px;
        text-align: left;
    }
    
    .razon{
        width: 500px;
        text-align: left;
    }

    .rfc{
        width: 150px;
        text-align: left;
    }
    
    .name_comer{
        width: 300px;
        text-align: left;
    }

    .options{
        width: 100px;
        text-align: left;
    }

    .container_control{
        display: flex;
        justify-content: space-between;
        padding: 10px;
    }

    .container_query{
        margin-bottom: 20px;
    }

    .boton_add{
        width: 150px;
        height: 50px;
        border-radius: 10px;
    }

    .boton{
        width: 100px;
        height: 30px;
        border-radius: 10px;
    }

    .boton:hover, 
    .boton_add:hover{
        cursor: pointer;
        background:rgb(77, 77, 246);
        color: white;
        transition: all 300ms;
    }
    
</style>

<div class="container">
    <div class="">
        <table id="tabla-clientes_view" class="clientes_table">
            <thead>
                <tr>
                    <th class="id">ID</th>
                    <th class="razon">Razon</th>
                    <th class="rfc">RFC</th>
                    <th class="name_comer">Nombre Comercial</th>
                    <th class="options">Opciones</th>
                </tr>
            </thead>
    
            <tbody >
                {% for i in clientes %}
                <tr class="product_td">
                    <td>{{i.id}}</td>
                    <td>{{i.razon}}</td>
                    <td>{{i.rfc}}</td>
                    <td>{{i.nombre_comercial}}</td>
                    <td><a href="{% url 'EditCliente' i.id %}">Editar</a></td>
                </tr>
                {% endfor %}  
            </tbody>
        </table>
    
        <div class="container_control">
            <div class="button_add_cliente">
                <a href="{% url 'AddCliente' %}" ><button type="submit" class="boton_add">Agregar Cliente</button></a>
            </div>
            
            <div class="cvs_and_print">
                <button type="button" class="boton">CSV</button>
                <button type="button" class="boton">Imprimir</button>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>

<!--Datatables-->
<script>
    jQuery.noConflict();
    jQuery(document).ready(function ($) {
       $('#tabla-clientes_view').DataTable({
        "language":{
            "decimal": ".",
            "thousands": ",",
            "search": "Buscar:",
            "zeroRecords": "No se encontraron coincidencias",
        },
        "paging": false,
        "info": false, 
        "lengthChange": false,
       });
    });
</script>
      

{% endblock content %} 