{% extends "layoutPOS.html" %}

{% block title %}{{title}}{% endblock title %}

{% block content %}

<style>
    button{
        margin-left: 430px;
        margin-bottom: 20px;
    }
</style>

<a href="{% url 'AddMoneda' %}" ><button type="button" id="guardar_addp">Agregar Moneda</button></a>

<table class="tabla_ventas">
    <thead>
        <tr>
            <th>Id Moneda</th>
            <th>Descripcion</th>
            <th>Opcion</th>
        </tr>
    </thead>

    <tbody>
        {% for m in moneda  %}
        <tr class="product_td">
            <td>{{m.id}}</td>
            <td>{{m.description}}</td>
            <td><a href="{% url 'EditMoneda' m.id %}">Editar</a></td>
        
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>      
{% endblock content %}