{% extends "layoutPOS.html" %}
{% load static %}

{% block title %}{{title}}{% endblock title %}

{% block content %}
<div class="control_POS">
    <div class="boton_POS" onmouseout="toggleDiv_clientes()">
        <a href="#"><i class="fa-solid fa-users"></i></a>
        <a href="#"><p class="pie_POS">Agregar Clientes</p></a>
    </div>

    <div class="boton_POS">
        <a href="#"><i class="fa-solid fa-check"></i></a>
        <a href="#"><p class="pie_POS">Ordenes de trabajo</p></a>
    </div>

    <div class="boton_POS">
        <a href="#"><i class="fa-solid fa-wallet"></i></a>
        <a href="#"><p class="pie_POS">Cuentas</p></a>
    </div>

    <div class="boton_POS">
        <a href="#"><i class="fa-brands fa-cc-mastercard"></i></a>
        <a href="#"><p class="pie_POS">Tarjetas</p></a>
    </div>

    <div class="boton_POS">
        <a href="#"><i class="fa-solid fa-tag"></i></a>
        <a href="#"><p class="pie_POS">Descuentos</p></a>
    </div>

    <div class="boton_POS">
        <a href="#"><i class="fa-solid fa-door-open"></i></a>
        <a href="#"><p class="pie_POS">Retiros</p></a>
    </div>

    <div class="boton_POS">
        <a href="#"><i class="fa-solid fa-truck"></i></a>
        <a href="#"><p class="pie_POS">Domicilio</p></a>
    </div>

    <div class="boton_POS">
        <a href="#"><i class="fa-solid fa-clipboard"></i></a>
        <a href="#"><p class="pie_POS">Cobranza</p></a>
    </div>

    <div class="boton_POS">
        <a href="#"><i class="fa-solid fa-magnifying-glass"></i></a>
        <a href="#"><p class="pie_POS">Consultas</p></a>
    </div>

    <div class="boton_POS">
        <a href="#"><i class="fa-solid fa-book"></i></a>
        <a href="#"><p class="pie_POS">Documento</p></a>
    </div>

    <div class="boton_POS">
        <a href="#"><i class="fa-solid fa-user"></i></a>
        <a href="#"><p class="pie_POS">Gerencia</p></a>
    </div>

    <div class="boton_POS">
        <a href="#"><i class="fa-solid fa-right-to-bracket"></i></a>
        <a href="#"><p class="pie_POS">Salir</p></a>
    </div>
</div>

<div class="barra_busqueda">
    <form class="custom-barra_busqueda" method="GET" action="{% url 'buscar' %}">
        <label for="inputBusqueda">Buscar</label>
        <input type="search" id="inputBusqueda" placeholder="Ingrese su búsqueda" name="q">
        <button onclick="" type="submit" id="boton">Buscar</button>
    </form>
</div>
<div>
    <table>
        <thead>
            <tr>
                <th>Razon Social</th>
                <th>RFC</th>
                <th>Nombre Comercial</th>
                <th>Telefono</th>
            </tr>
        </thead>
        <tbody> 
            {% for resultado in resultados %}
            <tr>
                <td>{{ resultado.razon }}</td>
                <td>{{ resultado.rfc }}</td>
                <td>{{ resultado.nombre_comercial }}</td>
                <td>{{ resultado.telefono }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div> 

<div class="contenedor_pos" >
    <div class="form_POS" id="control_clientes">
        <div class="header_frame_pos">
            <h3>Agregar cliente</h3>
            <button onclick="toggleDiv_clientes()">X</button>
        </div>
        
        <div class="body_frame_pos">
            <div class="tabla_busqueda">
                <table id="dynamic-table" border="2" bordercolor="black">
                    <thead>
                        <tr>
                            <th>Razon Social</th>
                            <th>RFC</th>
                            <th>Nombre Comercial</th>
                            <th>Telefono</th>
                            <th>Opcion</th>
                        </tr>
                    </thead>
                        
                    <tbody id="response"> 
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="barra_busqueda">
    <form class="custom-barra_busqueda" method="GET" action="{% url 'buscar_p' %}">
        <label for="inputBusqueda">Buscar</label>
        <input type="search" id="inputBusqueda" placeholder="Ingrese su búsqueda" name="p">
        <button onclick="" type="submit" id="boton">Buscar</button>
    </form>
</div>
<div>
    <table>
        <thead>
            <tr>
                <th>Descripcion</th>
                <th>Costo</th>
                <th>Precio Unitario</th>
                <th>IVA</th>
                <th>Seleccionar</th>
            </tr>
        </thead>
        <tbody> 
            {% for i in resultado %}
            <tr>
                <td>{{ i.description }}</td>
                <td>{{ i.costo }}</td>
                <td>{{ i.precio_unitario }}</td>
                <td>{{ i.iva }}</td>
                <td><a href="{% url 'seleccionar_elemento' i.id %}"><button class="seleccionar-btn">Seleccionar</button></a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<div>
    <table class="tabla_POS">
        <thead>
            <tr>
                <th class="num_row">Cantidad</th>
                <th class="num_row">Unidad</th>
                <th class="num_row">Codigo</th>
                <th>Descripcion</th>
                <th class="num_row">Precio Unitario</th>
                <th class="num_row">Importe</th>
                <th class="num2_row">P</th>
                <th class="num2_row">CP</th>
                <th class="num2_row">% IVA</th>
                <th class="num_row">IVA</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{elemento_seleccionado.id}}</td>
                <td>2</td>
                <td>3</td>
                <td>{{elemento_seleccionado.description}}</td>
                <td>5</td>
                <td>6</td>
                <td>7</td>
                <td>8</td>
                <td>9</td>
                <td>10</td>      
            </tr>
        </tbody>
    </table>
    <button type="submit" onclick="">Agregar Producto</button> 
</div>

{% endblock content %} 