{% extends "layoutPOS.html" %}
{% load static %}

{% block title %}{{title}}{% endblock title %}

{% block content %}
<div class="control_POS">
    <div class="boton_POS" onmouseout="toggleDiv_clientes()">
        <a href="#"><i class="fa-solid fa-users"></i></a>
        <a href="#"><p class="pie_POS">Agregar Clientes</p></a>
    </div>

    <div class="boton_POS">
        <a href="#"><i class="fa-solid fa-check"></i></a>
        <a href="#"><p class="pie_POS">Ordenes de trabajo</p></a>
    </div>

    <div class="boton_POS">
        <a href="#"><i class="fa-solid fa-wallet"></i></a>
        <a href="#"><p class="pie_POS">Cuentas</p></a>
    </div>

    <div class="boton_POS">
        <a href="#"><i class="fa-brands fa-cc-mastercard"></i></a>
        <a href="#"><p class="pie_POS">Tarjetas</p></a>
    </div>

    <div class="boton_POS">
        <a href="#"><i class="fa-solid fa-tag"></i></a>
        <a href="#"><p class="pie_POS">Descuentos</p></a>
    </div>

    <div class="boton_POS">
        <a href="#"><i class="fa-solid fa-door-open"></i></a>
        <a href="#"><p class="pie_POS">Retiros</p></a>
    </div>

    <div class="boton_POS">
        <a href="#"><i class="fa-solid fa-truck"></i></a>
        <a href="#"><p class="pie_POS">Domicilio</p></a>
    </div>

    <div class="boton_POS">
        <a href="#"><i class="fa-solid fa-clipboard"></i></a>
        <a href="#"><p class="pie_POS">Cobranza</p></a>
    </div>

    <div class="boton_POS">
        <a href="#"><i class="fa-solid fa-magnifying-glass"></i></a>
        <a href="#"><p class="pie_POS">Consultas</p></a>
    </div>

    <div class="boton_POS">
        <a href="#"><i class="fa-solid fa-book"></i></a>
        <a href="#"><p class="pie_POS">Documento</p></a>
    </div>

    <div class="boton_POS">
        <a href="#"><i class="fa-solid fa-user"></i></a>
        <a href="#"><p class="pie_POS">Gerencia</p></a>
    </div>

    <div class="boton_POS">
        <a href="#"><i class="fa-solid fa-right-to-bracket"></i></a>
        <a href="#"><p class="pie_POS">Salir</p></a>
    </div>
</div>


{% endblock content %} 