{% extends "layoutPOS.html" %}
{% load static %}

{% block title %}{{title}}{% endblock title %}

{% block content %}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<style>
    
</style>

<div class="control_POS">
    <button id="AgregarCliente" style="background: none; border: none;">
        <div class="boton_POS">
            <i class="fa-solid fa-users"></i>
            <p class="pie_POS">Clientes</p>
        </div>
    </button>

    <div class="boton_POS">
        <a href="#"><i class="fa-solid fa-check"></i></a>
        <a href="#"><p class="pie_POS">Ordenes de trabajo</p></a>
    </div>

    <div class="boton_POS">
        <a href="#"><i class="fa-solid fa-wallet"></i></a>
        <a href="#"><p class="pie_POS">Cuentas</p></a>
    </div>

    <div class="boton_POS">
        <a href="#"><i class="fa-brands fa-cc-mastercard"></i></a>
        <a href="#"><p class="pie_POS">Tarjetas</p></a>
    </div>

    <div class="boton_POS">
        <a href="#"><i class="fa-solid fa-tag"></i></a>
        <a href="#"><p class="pie_POS">Descuentos</p></a>
    </div>

    <div class="boton_POS">
        <a href="#"><i class="fa-solid fa-door-open"></i></a>
        <a href="#"><p class="pie_POS">Retiros</p></a>
    </div>

    <div class="boton_POS">
        <a href="#"><i class="fa-solid fa-truck"></i></a>
        <a href="#"><p class="pie_POS">Domicilio</p></a>
    </div>

    <div class="boton_POS">
        <a href="#"><i class="fa-solid fa-clipboard"></i></a>
        <a href="#"><p class="pie_POS">Cobranza</p></a>
    </div>

    <div class="boton_POS">
        <a href="#"><i class="fa-solid fa-magnifying-glass"></i></a>
        <a href="#"><p class="pie_POS">Consultas</p></a>
    </div>

    <div class="boton_POS">
        <a href="#"><i class="fa-solid fa-book"></i></a>
        <a href="#"><p class="pie_POS">Documento</p></a>
    </div>

    <div class="boton_POS">
        <a href="#"><i class="fa-solid fa-user"></i></a>
        <a href="#"><p class="pie_POS">Gerencia</p></a>
    </div>

    <div class="boton_POS">
        <a href="#"><i class="fa-solid fa-right-to-bracket"></i></a>
        <a href="#"><p class="pie_POS">Salir</p></a>
    </div>
</div>

<dialog id="modal">
    <table id="tabla-clientes" class="clientes_table">
        <thead>
            <tr>
                <th class="id">ID</th>
                <th class="razon">Razon</th>
                <th class="rfc">RFC</th>
                <th class="name_comer">Nombre Comercial</th>
            </tr>
        </thead>

        <tbody >
            {% for i in clientes %}
            <tr class="product_td">
                <td>{{i.id}}</td>
                <td>{{i.razon}}</td>
                <td>{{i.rfc}}</td>
                <td>{{i.nombre_comercial}}</td>
            </tr>
            {% endfor %}  
        </tbody>
    </table>

    <button id="CerrarModalCliente">Cerrar</button>
</dialog>

<div class="flexContainer">
    <div class="container_head">
        <div class="cliente_id">
            <label for="">#Cliente</label>
            <div class="span_cliente" id="detalleId"></div>
        </div>
        <div class="razon">
            <label for="">Razon/Nombre Comercial</label>
            <div class="span_razon" id="detalleNombre"></div>
        </div>
        <div class="rfc">
            <label for="">R.F.C</label>
            <div class="span_rfc" id="detalleRFC"></div>
        </div>
        <div class="condiciones">
            <label for="">Condiciones</label>
            <div class="span_condiciones"></div>
        </div>
        <div class="plazo">
            <label for="">Plazo</label>
            <div class="span_plazo"></div>
        </div>
    </div>

    <div class="container_body">
        <div class="credit_container">
            <div class="limcredito">
                <label for="">Limite Credito</label>
                <div class="span_limcredito"></div>
            </div>
            <div class="saldo">
                <label for="">Saldo</label>
                <div class="span_saldo"></div>
            </div>
            <div class="cdisponible">
                <label for="">Credito Disponible</label>
                <div class="span_cdisponible"></div>
            </div>
            <div class="ocompra">
                <label for="">Orden Compra</label>
                <div class="ocompra_dos">
                    <div class="span_ocompra" style="margin-right: 5px;"></div>
                    <input type="button" style="height: 25px; width: 25px;"> 
                </div>
                
            </div>
            <div class="cuenta">
                <label for="">Cuenta</label>
                <div class="span_cuenta"></div>
            </div>
        </div>
        

        <div class="trabajo_container">
            <div class="otrabajo">
                <label for="">Orden de trabajo</label>
                <div class="span_otrabajo"></div>
            </div>
            <div class="tecnico">
                <label for="">Tecnico</label>
                <div class="span_tecnico"></div>
            </div>
        </div>
        
    </div>

    <div class="container_footer">
        <div class="scanner_container">
           <div class="scanner">
                <label>Escanear Producto</label> 
                <br>
                <input type="text" class="span_scanner">
            </div>
            <div class="buscar_producto">
                <button style="width: 100px; height: 50px;">BUSCAR PRODUCTO</button>
            </div> 
        </div>

        <div class="tarjeta_container">
            <div class="tarjeta">
                <label for="">Tarjerta</label>
                <div class="span_tarjeta"></div>
            </div>
            <div class="programa">
                <label for="">Programa</label>
                <div class="span_programa"></div>
            </div>
            <div>
                <div class="apuntos">
                    <input type="checkbox">
                    <label for="">Aplicar Puntos</label>
                    <div class="span_apuntos"></div>
                </div>
            </div> 
        </div>
    </div>
</div>


<div>
    <table class="table_venta">
        <thead>
            <tr>
                <th style="width: 90px;">Cantidad</th>
                <th style="width: 60px;">Unidad</th>
                <th style="width: 150px;">Codigo</th>
                <th style="width: 500px;">Descripcion</th>
                <th style="width: 100px;">Precio Unit</th>
                <th style="width: 100px;">Importe</th>
                <th style="width: 60px;">P</th>
                <th style="width: 60px;">CE</th>
                <th style="width: 100px;">% IVA</th>
                <th style="width: 100px;">IVA</th>
            </tr>
        </thead>
    
        <tbody>
            <tr>
                <td>1</td>
                <td>1</td>
                <td>1</td>
                <td>1</td>
                <td>1</td>
                <td>1</td>
                <td>1</td>
                <td>1</td>
                <td>1</td>
                <td>1</td>
            </tr>
        </tbody>
    </table>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>

<!--Datatable-->
<script>
    jQuery.noConflict();
    jQuery(document).ready(function ($) {
       $('#tabla-clientes').DataTable({
        "language":{
            "decimal": ".",
            "thousands": ",",
            "search": "Buscar:",
            "zeroRecords": "No se encontraron coincidencias",
        },
        "paging": false,
        "info": false, 
        "lengthChange": false,
       });
    });

    
</script>

<!--Funciones Modal-->
<script>
    const AgregarCliente= document.querySelector("#AgregarCliente");
    const CerrarModalCliente= document.querySelector("#CerrarModalCliente");
    const Modal= document.querySelector("#modal");

    AgregarCliente.addEventListener("click",()=>{
        Modal.showModal();
    })

    CerrarModalCliente.addEventListener("click",()=>{
        Modal.close();
    })
</script>

{% endblock content %} 