{% extends "layoutPOS.html" %}

{% block title %}{{title}}{% endblock title %}

{% block content %}
<a href="{% url 'AddProducto' %}" ><button type="button" class="agregar_producto">Agregar Producto</button></a>

<div class="box_tabla">
    <div class="botones_venta">
        <div class="control_venta">
            <button type="button" class="control_btn_clientes">CSV</button>
            <button type="button" class="control_btn_venta">Imprimir</button>
        </div>
        <div class="control_venta">
            <label>Buscar</label>
            <input type="text">
        </div>
    </div>   
<table class="tabla_ventas">
    <thead>
        <tr>
            <th>Id Producto</th>
            <th>Código</th>
            <th>Descripcion</th>
            <th>Costo Factura</th>
            <th>Costo Integrado</th>
            <th>Opciones</th>
        </tr>
    </thead>

    <tbody>
        {% for producto in productos %}
        <tr class="product_td">
            <td>{{producto.id}}</td>
            <td>{{producto.codigo}}</td>
            <td >{{producto.description}}</td>
            <td>{{producto.Cto_Factura}}</td>
            <td>{{producto.Cto_Integrado}}</td>
            <td><a href="{% url 'EditarProducto' producto.id %}">Editar</a></td>
        
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>      
 
{% endblock content %} 