{% extends "layoutPOS.html" %}

{% block title %}{{title}}{% endblock title %}

{% block content %}

<style>
    button{
        margin-left: 430px;
        margin-bottom: 20px;
    }
</style>

<a href="{% url 'AddUnidadMedida' %}" ><button type="button" id="guardar_addp">Agregar Unidad</button></a>

<table class="tabla_ventas">
    <thead>
        <tr>
            <th>Id Unidad</th>
            <th>Descripcion</th>
            <th>Opcion</th>
        </tr>
    </thead>

    <tbody>
        {% for u in unidadmedida  %}
        <tr class="product_td">
            <td>{{u.id}}</td>
            <td>{{u.description}}</td>
            <td><a href="{% url 'EditUnidadMedida' u.id %}">Editar</a></td>
        
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>   
{% endblock content %}