{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>{% block title %}{{title}}{% endblock title %} |Domag</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="website icon" type="png" href="{% static 'image/logo4.png' %}">
</head>

<body>
    <header class="head">
        <!--Logotipo y nombre-->
        <div class="logo">
            <img src="{% static 'image/logo4.png' %}" alt="">
            <h1>{{title}} | Domag</h1>
        </div>

        <div class="btn">
            <ul>
                {% if user.email %}
                    <li><a href="{% url 'modulos' %}" >{{request.user.first_name}} {{user.last_name}}</a></li>
                    <li><a href="{% url 'logout' %}">Cerrar sesion</a></li>
                {% else %}
                    <li><a href="{% url 'register' %}">Registrarse</a></li>
                    <li><a href="{% url 'login' %}">Iniciar Session</a></li>
                {% endif %}
            </ul>
        </div>
    </header>

    <div id="content">
        <nav>
            <ul>
                <li> <a href="#">Nose</a></li>
                <li> <a href="#">Nose</a></li>
                <li> <a href="#">Pruebas API REST</a></li>
            </ul>
        </nav>
        
        <div class="box">
            {% block content %}
            <!--Contenido del Login-->
            {% endblock content %}
        </div>
    </div>

<footer>
    Sistemas Domag &copy; | Empresa - {% now "d/m/Y" %}
</footer>

<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script type="text/javascript" src="{% static 'js/main.js' %}"></script>

</body>
</html>